<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Awesome Page{% endblock %}</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"></link>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"></link>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <a class="navbar-brand text-light" href="#"><i><b>FOREX</b></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
        </div>
    </nav>
    {% block content %}Killer contents{% endblock %}
</body>

<script src="http://unpkg.com/jquery"></script>
</html>